// .wrapper {
//   width: 100%;
//   height: 100%;
//   max-width: 1440px;
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   gap: 3.25rem;
//   padding: 1rem 1.25rem 1.25rem 1.25rem;

//   .toolsHeader {
//     font-size: 28px;
//     font-weight: 300;
//     text-align: center;
//     margin-bottom: 3rem;
//     color: #1e1e1e;
//     position: relative;
//     font-family: MAINLUX-Bold;

//     &::after {
//       content: "";
//       display: block;
//       width: 60px;
//       height: 3px;
//       margin: 1rem auto 0;
//       background: linear-gradient(90deg, #16796f, #06b6d4);
//       border-radius: 2px;
//     }

//     @media (min-width: 640px) {
//       font-size: 32px;
//     }
//     @media (min-width: 1024px) {
//       font-size: 40px;
//     }
//   }

//   .decription {
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     gap: 2rem;

//     @media (max-width: 1024px) {
//       flex-direction: column;
//       gap: 2rem;
//     }

//     .description_display {
//       width: 50%;
//       display: flex;
//       flex-direction: column;
//       gap: 1.85rem;
//       padding: 0px 1.25rem 0px 0px;
//       border-right: 2px solid #1e1e1e;

//       @media (max-width: 1024px) {
//         border: none;
//         width: 100%;
//         padding: 0;
//       }

//       .description_firm {
//         font-family: MAINLUX-Bold;
//         font-size: 24px;
//         font-weight: 300;

//         @media (min-width: 640px) {
//           font-size: 28px;
//         }
//         @media (min-width: 1024px) {
//           font-size: 32px;
//         }
//       }

//       .tech_journey {
//         display: flex;
//         flex-direction: column;
//         gap: 1.25rem;

//         .journey {
//           font-family: MAINLUX-Bold;
//           font-size: 15px;
//           line-height: 1.6;
//           color: #1e1e1e;
//           padding-top: 10px;
//           font-weight: 300;

//           @media (min-width: 640px) {
//             font-size: 16px;
//           }
//           @media (min-width: 1024px) {
//             font-size: 18px;
//           }
//         }
//       }
//     }

//     .animate_carousel {
//       width: 50%;
//       overflow: hidden;
//       white-space: nowrap;
//       position: relative;

//       @media (max-width: 1024px) {
//         width: 100%;
//         position: static;
//       }
//       @media (max-width: 768px) {
//         position: static;
//       }

//       .track {
//         position: absolute;
//         top: 120px;
//         display: flex;
//         animation: scroll 15s linear infinite;
//         width: max-content;
//         @media (max-width: 768px) {
//           position: static;
//         }
//         @media (max-width: 1024px) {
//           position: static;
//         }

//         .list_of_experience {
//           display: flex;
//           flex-direction: column;
//           gap: 0.5em;
//           margin-right: 1.25em;

//           .font {
//             font-family: MAINLUX-Bold;
//             font-weight: 300;
//             font-size: 28px;
//             color: #1e1e1e;

//             @media (min-width: 640px) {
//               font-size: 36px;
//             }
//             @media (min-width: 1024px) {
//               font-size: 46px;
//             }
//           }

//           .role {
//             font-family: MAINLUX-Bold;
//             font-weight: 300;
//             font-size: 16px;
//             color: #1e1e1e;

//             @media (min-width: 640px) {
//               font-size: 18px;
//             }
//             @media (min-width: 1024px) {
//               font-size: 20px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

.track {
  // position: absolute;
  // top: 120px;
  // left: 0;
  top: 120px;
  margin-top: 120px;
  display: flex;
  animation: scroll 15s linear infinite;
  width: max-content;
  @media (max-width: 768px) {
    position: static;
  }
  @media (max-width: 1024px) {
    position: static;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
