.wrapper {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  gap: 1.25rem;
  //   .txt {
  //     padding: 8px 0px 0px;
  //     font-family: Lato;
  //     font-weight: 300;
  //     color: #1e1e1e;
  //     border-top: 1px solid #1e1e1e;
  //     font-size: 36px;
  //   }
  .toolsHeader {
    // font-size: 2.5rem;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
    color: #1e1e1e;
    position: relative;
    font-family: MAINLUX-Bold;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      margin: 1rem auto 0;
      background: linear-gradient(90deg, #16796f, #06b6d4);
      border-radius: 2px;
    }

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }
  .img_racket_firm {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .img_container {
      display: flex;
      flex-direction: column;
      .img_link {
        width: fit-content;
        height: 328px;
        background-color: transparent;
        overflow: hidden;
        a {
          text-decoration: none;
          color: inherit;
          background-color: inherit;
          .img_link {
            width: 100%;
            height: 100%;
            border-radius: 0px 24px 0px 24px;
            object-fit: cover;
          }
        }
      }
      .firm {
        font-family: MAINLUX-Bold;
        font-weight: 300;
        font-size: 24px;
        padding: 16px 0px 0px;
        color: #1e1e1e;
      }
    }
  }
}

